 @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rubik+Bubbles&display=swap');
*{
    box-sizing: border-box;
}
h1{
    font-family: 'rubik bubbles';
    font-size: 40px;
}
html{
    font-family: 'Caveat', cursive;
    font-size: 25px;
}
body{
    margin: 0;
}
h1,p{
    margin-top: 0;
    margin-bottom: 0;
}
button {
    font-family: inherit;
    cursor: pointer;
}
